html body {
    background-color: #F3F4F8;
    /* font-size: 16px; */
}

.navbar-custom {
    background-color: #ffffff !important;
}


.navbar-item.active {
    color: rgb(72, 72, 72) !important;
    font-weight: normal !important;
}
.navbar-item {
    color: rgb(72, 72, 72) !important;
    font-weight: normal !important;
    height: 35px;
}



.navbar-item-main.active {
    color: #0029FF !important;
    font-weight: 500;
}
.navbar-item-main {
    color: rgb(109, 109, 109) !important; /*rgb(109, 109, 109)*/
}



.subnavbar-custom {
    background-color: #EEF0F9 !important;
}

.bg-lightgreen {
    background-color:#ecffe9 !important;
    
}

.bg-lightgrey {
    background-color: #d9d9d96b !important;/* #f2f2f1 !important; */
}

.rounded-0{
    border-color: #ffffff;
}

th {
    font-weight: normal !important;
}

.btn-sm {
    border-radius: 23px !important;
}

.navbar-custom-inputs {
    background-color: #EEF0F9 !important;
}


.notification {
    position: fixed;
    top: 75px;
    right: 40px;
    padding: 5px;
    border-radius: 23px;
    color: #000000;
    z-index: 9999;
    cursor: pointer;
    max-width: 250px; 
    text-align: center; 
}


.notification.error {
    background-color: #ffffff;
    color: #ff0033;
    border: 1px solid #ff0000;
}

.notification.success {
    background-color: #ffffff;
    color: #4070f4;
    border: 1px solid #4070f4;
}

/* .notification-close {
    margin-left: 5px;
    background-color: transparent;
    border: none;
    color: #ffffff;
} */


.dropdown-cell::after {
    content: '▼';
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
  }