html body {
    background-color: #F3F4F8;
    /* font-size: 16px; */
}

.navbar-custom {
    background-color: #ffffff !important;
}


.navbar-item.active {
    color: rgb(72, 72, 72) !important;
    font-weight: normal !important;
}
.navbar-item {
    color: rgb(72, 72, 72) !important;
    font-weight: normal !important;
    height: 35px;
}



.navbar-item-main.active {
    color: #0029FF !important;
    font-weight: 500;
}
.navbar-item-main {
    color: rgb(109, 109, 109) !important; /*rgb(109, 109, 109)*/
}



.subnavbar-custom {
    background-color: #EEF0F9 !important;
}

.bg-lightgreen {
    background-color:#ecffe9 !important;
    
}

.bg-lightgrey {
    background-color: #d9d9d96b !important;/* #f2f2f1 !important; */
}

.rounded-0{
    border-color: #ffffff;
}

th {
    font-weight: normal !important;
}

.btn-sm {
    border-radius: 23px !important;
}

.navbar-custom-inputs {
    background-color: #EEF0F9 !important;
}

